<html>
  <head>
    <title>Motion</title>
    <script>
        
        function playSound(e){
          if(!e) return;
            if(e=="") return;
            if(e=="0") return;
            console.log("Javascript" + e);


            e = e.split(" ");
            e.forEach(function(e){
              if(e.length > 1){
                console.log("inside"+e);
                sound = document.getElementById(e);
                sound.currentTime= 0;
                sound.play();
              }
              
            })
        };

        const removeCrashRideTransition = e => {
            if(e.propertyName !== 'transform') return;

            e.target.style.transform = 'rotate(-7.2deg) scale(1.5)';
        };

        const removeHiHatTopTransition = e => {
            if(e.propertyName !== 'top') return;

            e.target.style.top = '166px';
        };  

        const removeKeyTransition = e => {
            if(e.propertyName !== 'transform') return;

            e.target.classList.remove(playingClass)
        };

        const drumKeys = Array.from(document.querySelectorAll('.key'));

        drumKeys.forEach(key => {
            key.addEventListener('transitionend', removeKeyTransition);
        });

      function someanimationz(){
        fetch("{{url_for('text_feed') }}").then((response) => response.text().then(yourCallback));
      }

      function yourCallback( retrievedText ) { 
            console.log(retrievedText);
            playSound(retrievedText);
            someanimationz();
      }    
      someanimationz();
      </script>
  </head>
  <body>
    <img src="{{ url_for('video_feeder') }}">

    <img src="{{ url_for('video_feeder2') }}">
    <img src="{{ url_for('video_feeder3') }}">


      <audio id="74" src="https://raw.githubusercontent.com/ArunMichaelDsouza/javascript-30-course/master/src/01-javascript-drum-kit/sounds/snare.wav"></audio>
      <audio id="66" src="https://raw.githubusercontent.com/ArunMichaelDsouza/javascript-30-course/master/src/01-javascript-drum-kit/sounds/kick.wav"></audio>
      <audio id="86" src="https://raw.githubusercontent.com/ArunMichaelDsouza/javascript-30-course/master/src/01-javascript-drum-kit/sounds/kick.wav"></audio>
      <audio id="72" src="https://raw.githubusercontent.com/ArunMichaelDsouza/javascript-30-course/master/src/01-javascript-drum-kit/sounds/tom-high.wav"></audio>
      <audio id="71" src="https://raw.githubusercontent.com/ArunMichaelDsouza/javascript-30-course/master/src/01-javascript-drum-kit/sounds/tom-mid.wav"></audio>
      <audio id="70" src="https://raw.githubusercontent.com/ArunMichaelDsouza/javascript-30-course/master/src/01-javascript-drum-kit/sounds/tom-low.wav"></audio>
      <audio id="69" src="https://raw.githubusercontent.com/ArunMichaelDsouza/javascript-30-course/master/src/01-javascript-drum-kit/sounds/crash.wav"></audio>
      <audio id="82" src="https://raw.githubusercontent.com/ArunMichaelDsouza/javascript-30-course/master/src/01-javascript-drum-kit/sounds/ride.wav"></audio>
      <audio id="73" src="https://raw.githubusercontent.com/ArunMichaelDsouza/javascript-30-course/master/src/01-javascript-drum-kit/sounds/hihat-open.wav"></audio>
      <audio id="75" src="https://raw.githubusercontent.com/ArunMichaelDsouza/javascript-30-course/master/src/01-javascript-drum-kit/sounds/hihat-close.wav"></audio>
          
</body>
</html>